{% extends "base.html" %}
{% block title %}Смена пароля{% endblock %}
{% block content %}
    {% load bootstrap3 %}
    <h1>Смена пароля учётной записи</h1>
    <div class="col-md-2">
        <form action="." method="post">
            {% bootstrap_form form %}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            {% buttons %}
                    <button type="submit" class="btn btn-primary">Сменить</button>
            {% endbuttons %}
        </form>
    </div>

{% endblock %}