{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <!-- Подключение библиотеки jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- Подключение jQuery плагина Masked Input -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% block static_files %}{% endblock %}
    {% bootstrap_javascript  %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">МоиТендеры</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'dashboard' %}">Home</a></li>
      <li><a href="{% url 'favorites' %}">Избранное</a></li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Выбор площадки<span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a href="{% url 'all_tenders' %}">Все конкурсы</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'rzd_tenders_found' %}">РЖД</a></li>
              <li><a href="{% url 'rosseti_tenders_found' %}">Россети</a></li>
              <li><a href="{% url 'gazprom_tenders_found' %}">Газпром</a></li>
              <li><a href="{% url 'rosatom_tenders_found' %}">Ростатом</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
          </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
            <p class="navbar-text "> Привет, {{ request.user.first_name }}!</p>
            <li><a href="{% url "logout" %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        {% else %}
            <li><a href="{% url "login" %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
    </ul>
  </div>
</nav>

<div class="container hidden" id="message_div">
    <div class="alert alert-success alert-dismissable fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <p id="message_p">sd</p>
    </div>
</div>


<div id="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>