{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <!-- Подключение библиотеки jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- Подключение jQuery плагина Masked Input -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript  %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{#<div id="header">#}
{#    <span class="logo">Bookmarks</span>#}
{#    {% if request.user.is_authenticated %}#}
{#        <ul class="menu">#}
{#            <li {% if section=="dashboard" %}class="selected"{% endif %}>#}
{#            <a href="{% url " dashboard" %}">My dashboard</a>#}
{#            </li>#}
{#            <li {% if section=="images" %}class="selected"{% endif %}>#}
{#            <a href="#">Images</a>#}
{#            </li>#}
{#            <li {% if section=="people" %}class="selected"{% endif %}>#}
{#                <a href="#">People</a>#}
{#            </li>#}
{#        </ul>#}
{#    {% endif %}#}
{#    <span class="user">#}
{#        {% if request.user.is_authenticated %}#}
{#            Hello {{ request.user.first_name }},#}
{#            <a href="{% url "logout" %}">Logout</a>#}
{#        {% else %}#}
{#            <a href="{% url "login" %}">Log-in</a>#}
{#        {% endif %}#}
{#    </span>#}
{#</div>#}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">МоиТендеры</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="{% url 'rzd_tenders_found' %}">Все тенедры</a></li>
      <li><a href="#">Page 2</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
            <p class="navbar-text "> Привет, {{ request.user.first_name }}!</p>
            <li><a href="{% url "logout" %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        {% else %}
            <li><a href="{% url "login" %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
    </ul>
  </div>
</nav>


<div id="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>