{% load staticfiles %}
{% load static %}
{#{% load bootstrap3 %}#}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
</head>
<body>
<form action="{% url 'search' %}" class="navbar-form navbar-left" method="get">
    <div class="input-group">
        <input id="search" name="q" type="text" class="form-control" placeholder="Поиск">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default">Найти</button>
        </span>
    </div>
</form>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>