{% extends "base.html" %}
{% block title %}Все конкурсы{% endblock %}
{% block content %}
    {% load bootstrap3 %}
    <div class="container">
        <h1>
            <span>Все конкурсы<span>
        </h1>
    </div>

    <div class="row">
        <div class="container">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_field form.addition_query placeholder='Уточненный запрос' show_label=False %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary" name="search">Уточнить запрос</button>
                    <button type="submit" class="btn btn-primary" name="reset">Сброс</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
    <div class="row">
        <div class="container">
            {% include "pagination.html" with page=found_tender %}
            <table class="table table-bordered table-striped" id="find_tenders">
                <tr>
                    <th>ЭТП</th>
                    <th>Номер процедуры</th>
                    <th>Предмет конкурса</th>
                    <th>Заказчик</th>
                    <th>Начальная (максимальная) цена договора, руб.</th>
                    <th>Дата и время окончания подачи заявок</th>
                </tr>
                {% for tend in found_tender %}
                    <tr>
                        <td width="5%">
                            {{ tend.etp }}
                        </td>
                        <td width="5%">
                            <a href="{% url 'tender_detail' pk=tend.pk %}">{{ tend.code }}</a>
                        </td>
                        <td width="45%">
                            {{ tend.subject }}
                        </td>
                        <td width="10%">
                            {{ tend.customer }}
                        <td class="money" width="10%">
                            {{ tend.price }}
                        </td>
                        <td width="5%">
                            {{ tend.deadline }}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            {% include "pagination.html" with page=found_tender %}

        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('.money').mask('000 000 000 000 000,00 руб.', {reverse: true});
            });
    </script>

{% endblock %}