{% extends "base.html" %}
{% block title %}Поиск тендеров{% endblock %}
{% block content %}
    {% load bootstrap3 %}
    {% load static %}
    <div class="container" align="center">
        <h2>Поиск конкурсов по площадкам</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3" style="text-align: center">
                <a href="{% url 'rzd_tenders_found' %}"><img src="{% static 'logo/rzd_link.jpg' %}"/></a>
            </div>
            <div class="col-md-3" style="text-align: center">
                <a href="{% url 'rosseti_tenders_found' %}"><img src="{% static 'logo/rosseti_logo.jpg' %}"/></a>
            </div>
            <div class="col-md-3" style="text-align: center">
                <a href="{% url 'gazprom_tenders_found' %}"><img src="{% static 'logo/gazprom_logo.jpg' %}"/></a>
            </div>
            <div class="col-md-3" style="text-align: center">
                <a href="{% url 'rosatom_tenders_found' %}"><img src="{% static 'logo/rosatom_logo.jpg' %}"/></a>
            </div>
        </div>
    </div>

{% endblock %}