{% extends "tenders/base.html" %}
{% block title %}Тендеры РЖД. Новый запрос{% endblock %}
{% block content %}
    <h1>Тендеры РЖД. Новый запрос</h1>
    <form method="post" class="post-form">
        {% csrf_token %}
        Адрес: {{ form.url }}<br><br>
        Запрос: {{ form.query_string }}<br><br>
        Дата: {{ form.bid_deadlin_from }}
        <script>
            $(function () {
                $("#id_bid_deadlin_from").mask("99.99.9999", {placeholder: "дд.мм.гггг"});
            });

        </script>
        <br><br>

        <button type="submit">Сохранить</button>
    </form>
{% endblock %}