{% extends "base.html" %}
{% block title %}Найденные тендеры РЖД{% endblock %}
{% block content %}
    {% load bootstrap3 %}
    <div class="container">
        <h2>Детальная информация по конкурсу {{ tender.code }}</h2>
    </div>

    <div class="row">
        <div class="container">
            <table class="table">
                    <tr>
                        <td width="20%"><b>ЭТП</b></td>
                        <td width="80%">{{ tender.etp }}</td>
                    </tr>
                    <tr>
                        <td width="20%"><b>Номер процедуры</b></td>
                        <td width="80%">{{ tender.code }}</td>
                    </tr>
                    <tr>
                        <td width="20%"><b>Предмет конкурса</b></td>
                        <td width="80%">{{ tender.subject }}</td>
                    </tr>
                    <tr>
                        <td width="20%"><b>Заказчик</b></td>
                        <td width="80%">{{ tender.customer }}</td>
                    </tr>
                    <tr>
                        <td width="20%"><b>Начальная (максимальная) цена договора, руб.</b></td>
                        <td class="money" width="80%">{{ tender.price }}</td>
                    </tr>
                    <tr>
                        <td width="20%"><b>Дата и время окончания подачи заявок</b></td>
                        <td width="80%">{{ tender.deadline }}</td>
                    </tr>
            </table>
            <h3>Конкурсная документация</h3>
            <ul class="list_docs">
                {% for td in tender.document_links %}
                    <li><a href="{{ td.doc_link }}">{{ td.doc_name }}</a></li>
                {% endfor %}
            </ul>
            <h3>Перечень лотов</h3>
            {% if tender.lots %}
                <table class="table table-bordered table-striped" id="tender_lots">
                    <tr>
                        <th>Номер лота</th>
                        <th>Наименование лота</th>
                        <th>Начальная (макс.) цена лота</th>
                    </tr>
                    {% for l in tender.lots %}
                        <tr>
                            <td width="10%">{{ l.num_lot }}</td>
                            <td width="60%">{{ l.name_lot }}</td>
                            <td class="money" width="40%">{{ l.price_lot }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

        </div>
    </div>
{#    <div class="container">#}
{#        {% buttons %}#}
{#            <a href="{% url 'add_remove_favorite' tender.pk%}"><button class="btn btn-primary" name="add_revove">В избранное</button></a>#}
{#        {% endbuttons %}#}
{#    </div>#}
    

    <div class="container">
        <button class="btn btn-primary" name="add_remove" id="add_remove_button">В избранное</button>
        <a href="{{ tender.link }}" target="_blank"><button class="btn btn-primary" name="open_link" id="open_link">Открыть на площадке</button></a>
    </div>

    <script>
        $.ajax({
                url: '{% url 'in_favorite' tender.pk %}',
                type: 'GET',
                success: function (json) {
                    document.getElementById('add_remove_button').innerHTML = json.button_name;
                }
        });
    </script>


    <script>
        function change_buttom_name() {
            var name_but = document.getElementById('add_remove_button').innerHTML
            if (name_but === 'В избранное') {
                name_but = 'Убрать из избранного';
            }
            else {
                name_but = 'В избранное';
            }
            document.getElementById('add_remove_button').innerHTML = name_but;
        }

        function show_alert(text) {
            document.getElementById('message_p').innerHTML = text;
            document.getElementById('message_div').className = 'container';
            setTimeout(function () {
                 document.getElementById('message_div').className = 'container hidden';
            }, 5000);

        }

        document.getElementById('add_remove_button').onclick = function () {
             $.ajax({
                url: '{% url 'add_remove_favorite' tender.pk %}',
                type: 'GET',
                success: function (json) {
                    show_alert(json.result);
                }
            });
             change_buttom_name();

        };

     </script>

    <script>
        $(document).ready(function(){
            $('.money').mask('000 000 000 000 000,00 руб.', {reverse: true});
            });
    </script>

{% endblock %}